- sorted_by = sort_options_hash[@sort]

.dropdown.inline.gl-ml-3
  %button.dropdown-menu-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' } }
    = sorted_by
    = sprite_icon('chevron-down', css_class: 'dropdown-menu-toggle-icon gl-top-3')
  %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
    %li
      = sortable_item(sort_title_created_date,   page_filter_path(sort: sort_value_created_date),   sorted_by)
      = sortable_item(sort_title_contacted_date, page_filter_path(sort: sort_value_contacted_date), sorted_by)
